.DS_Store
.vs/
.vscode/
.idea/
env/
venv/
target/
dbt_packages/
logs/
.venv
.env
.env-local
.credentials
data/
superset/repo/
__pycache__
*.egg-info/
build/
config/config.yml
.tox/
/.pytest_cache/


*.pyc

# dbt creates this, only for tracking. TODO: disable tracking!
.user.yml

# here, we need the profiles.yml for github actions to run.
